<%- include("partials/header.ejs") %>

<!-- filter tool -->
<form action="/filter" method="POST">
    <p id="filter-prompt">Filter Posts</p>

    <select class="filter-category" name="category" onchange="this.form.submit()">
        <option value="None" <%= categoryFilter === "None" ? "selected" : "" %>>None</option>
        <option value="Trail Review" <%= categoryFilter === "Trail Review" ? "selected" : "" %>>Trail Review</option>
        <option value="Gear Review" <%= categoryFilter === "Gear Review" ? "selected" : "" %>>Gear Review</option>
        <option value="Personal Adventures" <%= categoryFilter === "Personal Adventures" ? "selected" : "" %>>Personal Adventures</option>
        <option value="Nature and Environment" <%= categoryFilter === "Nature and Environment" ? "selected" : "" %>>Nature and Environment</option>
    </select>
</form>

<!-- blog contents -->
<% let visible = false; %>
<% for(let i = 0; i < blogPosts.length; i++) { %>

    <% if(categoryFilter === "None" || categoryFilter === blogPosts[i].category) { %>

    <div id="blog-post">
        <h4 id="blog-title"><%= blogPosts[i].title %></h4>
        <h5 id="blog-category"><%= blogPosts[i].category %></h5>
        <p id="blog-time"><%= blogPosts[i].time %></p>
        <p id="blog-author"><%= blogPosts[i].author %></p>
        <p id="blog-content"><%= blogPosts[i].content %></p>

        <form id="edit-form" action="/edit" method="POST">
            <input type="hidden" name="blogNum" value="<%= i %>">
            <button id="edit-btn" type="submit">Edit</button>
        </form>

        <form id="del-form" action="/delete" method="POST">
            <input type="hidden" name="blogNum" value="<%= i %>">
            <button id="del-btn" type="submit">Delete</button>
        </form>
    </div>

    <% visible = true; %>

    <% } %>

<% } %>

<% if(!visible) { %>

    <h4>No Blogs Posted</h4>

<% } %>

<!-- make a new post -->
<h3 id="new-post-title">New post:</h3>
<form class="blog-form" action="/new" method="POST">
    <input type="text" class="create-author" name="author" placeholder="Your name" required/>
    <input type="text" class="create-title" name="title" placeholder="Blog title" required/>

    <select class="create-category" name="category" required>
        <option disabled selected value> -- select an option -- </option>
        <option value="Trail Review">Trail Review</option>
        <option value="Gear Review">Gear Review</option>
        <option value="Personal Adventures">Personal Adventures</option>
        <option value="Nature and Environment">Nature and Environment</option>
    </select>

    <textarea class="create-content" name="content" placeholder="Blog Content" required></textarea>
    <input class="submit-btn" type="submit" value="Submit">
</form>

<%- include("partials/footer.ejs") %>